nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: red;
    font-weight: bold;
}
nav a:active {
    color: gray;
    font-weight: bolder;
}
.link {
    color: blue;
    background-color: aqua;
    text-decoration: none;
}
.link:hover {
    color: purple;
    background-color: #00ff8823;
    text-decoration: underline;
}
.link:active {
    color: red;
    background-color: yellow;
    text-decoration: line-through;
}
